<div class="post-style">
	<h2 class="h2 font-weight-bold">
		<a class="text-dark" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
	</h2>

	<div class="post-header text-muted">
		<small><i class="far fa-clock"></i> {{ post.date | date_to_string }}</small>

		{% if post.authors %}
		{% for post_author in post.authors %}
		{% assign author = site.authors[post_author] %}
		<div class="author-header">
			<img class="author-thumb" src="{{ site.url }}{{ author.picture | relative_url }}" alt="{{ author.display_name }}">
			<small>{{ author.name }}</small> 
		</div>
		{% endfor %}
		{% endif %}
	</div>
	
	{% if post.image %}
	<div style="width: 100%; max-height: 240px;">
		<a href="{{site.baseurl}}{{post.url}}">
			<img style="width: 100%;" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
		</a>
	</div>
	{% endif %} 

	<div>
		<p class="excerpt">
		{{ post.excerpt  | strip_html | strip_newlines | truncate: 250}}
		</p>
	</div>
	<div style="margin-top: 20px; margin-bottom: 20px; width: 100%">
		<a href="{{site.baseurl}}{{post.url}}"><button class="btn btn-orange"><b>read more ></b></button></a>
	</div>

</div>