---
layout: default
---

{% assign author = site.authors[page.author] %}




<div class="container">

		<!-- Now the rest of the posts with the usual loop but with an offset:4 on the first page so we can skeep the first 4 posts displayed above -->
			
		<div class="row mt-6">
			<div class="col-md-8">
				<!-- <div class="container">
				<div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative">
				<div class="h-100 tofront">
			<div class="row {% if page.image %} justify-content-between {% else %} justify-content-center {% endif %}">
				<div class="{% if page.image %} col-md-6 {% else %} col-md-8 {% endif %} pr-0 pr-md-4 pt-4 pb-4 align-self-center">
					<p class="text-uppercase font-weight-bold">
                        <span class="catlist">
						{% for category in page.categories %}
                          <a class="sscroll text-danger" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category | downcase }}</a><span class="sep">, </span>
                        {% endfor %}
                        </span>
					</p>
					<h1 class="display-4 mb-4 article-headline">{{ page.title }}</h1>
					<div class="d-flex align-items-center">
                        {% if author.avatar %}
                        <img class="rounded-circle" src="{{site.baseurl}}/{{author.avatar}}" alt="{{author.name}}" width="70"/>
                        {% endif %}
						<small class="ml-3"> {{ author.name }} <span><a target="_blank" href="{{ author.twitter }}" class="btn btn-outline-success btn-sm btn-round ml-1">Follow</a></span>
                            <span class="text-muted d-block mt-1">{{ page.date | date: '%b %d, %Y' }} · {% include meta-read-time.html %}</span>
						</small>
					</div>
				</div>
                {% if page.image %}
				<div class="col-md-6 pr-0 align-self-center">
					<img class="rounded" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
				</div>
                {% endif %}
			</div>
		</div>
	</div>
</div> -->


<div>
		<h1>{{ page.title }}</h1>
</div>

<div style="border-top: 1px solid #e9e9e9">
		<div class="post-header text-muted">
				<small><i class="far fa-clock"></i> {{ page.date | date_to_string }}</small>
			</div>
</div>

{% if page.image %}
<diV>
		<img style="max-height: 200px; width: 100%;" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
</diV>
{% endif %}

<div >
		<div>
			
			

			
			
			<div>
				
				<!-- Article -->
				<article class="article-post">                
				{{ content }}                
				</article>
				
				<!-- Share -->
				<div class="share-container">
							<div class="share-title">
								Share this on:
							</div>
								<div class="share-icon">
									<a class="btn btn-outline-success btn-sm btn-round ml-2" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
										onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
										<i style="font-size: 24px;" class="fab fa-twitter"></i>
									</a>
									
									<a class="btn btn-outline-success btn-sm btn-round ml-2" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}"
									onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
									<i style="font-size: 24px;" class="fab fa-linkedin"></i>
									</a>
			
									<a class="btn btn-outline-success btn-sm btn-round ml-2" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
									onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
									<i style="font-size: 24px;" class="fab fa-facebook"></i>
									</a>
			
									<a class="btn btn-outline-success btn-sm btn-round ml-2" href="http://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
									onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;">
									<i style="font-size: 24px;" class="fab fa-reddit"></i>
									</a>
			
									<a class="btn btn-outline-success btn-sm btn-round ml-2" href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{ site.baseurl }}{{ page.url }}">
									<i style="font-size: 24px;" class="fas fa-envelope"></i>
									</a>
								</div>
							</div>
				<!-- Tags -->
				<!-- <div class="mb-4">
					<span class="taglist">
						<div>Tags: </div>
					{% for tag in page.tags %}
					  <div class="sscroll btn btn-light btn-sm font-weight-bold">{{ tag | downcase }}</div>
					{% endfor %}
					</span>
				</div> -->




				 <!-- Author Box -->
					{% if page.authors %}	

					{% for page_author in page.authors %}
					{% assign author = site.authors[page_author] %}

					<div class="row mt-5">
						<div class="col-md-2 align-self-center">
							 {% if author.picture %}
							<img class="rounded-circle" src="{{ site.url }}{{ author.picture | relative_url }}" alt="{{author.name}}" width="90"/>
							{% endif %} 
						</div>
						<div class="col-md-10">		
							<h5 class="font-weight-bold">Written by {{ author.name }} 
								<span>
								{% if author.twitter %}
								<a target="_blank" href="{{ author.twitter }}" class="btn btn-outline-success btn-sm btn-round ml-2"><i class="fab fa-twitter"></i></a>
								{% endif %}
								{% if author.linkedin %}
								<a target="_blank" href="{{ author.linkedin }}" class="btn btn-outline-success btn-sm btn-round ml-2"><i class="fab fa-linkedin"></i></a>
								{% endif %}
								{% if author.github %}
								<a target="_blank" href="{{ author.linkedin }}" class="btn btn-outline-success btn-sm btn-round ml-2"><i class="fab fa-github"></i></a>
								{% endif %}
								{% if author.reddit %}
								<a target="_blank" href="{{ author.linkedin }}" class="btn btn-outline-success btn-sm btn-round ml-2"><i class="fab fa-reddit"></i></a>
								{% endif %}
								</span>
							</h5>
							{{ author.bio }}					
						</div>
					</div>
					{% endfor %}		
					{% endif %}
				
				<!-- Comments -->
				{% if page.comments != false %}
					{% include comments.html %}
				{% endif %}
				
			</div>
			
			
		</div>
	</div>
				
			</div>
			
			<div class="col-md-4">
				{% include sidebar.html %}    
			</div>
		</div>
		</div>









